@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Montserrat", "sans-serif";
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #020202;
    color: #fff;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: rgb(167, 220, 230);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(0.9);
    color: rgb(202, 230, 240)
    
}

nav a{
    font-size: 1.8rem;
    color: #fff;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.navegation{
    color: rgb(160, 241, 255);
    border-bottom: 3px solid rgb(133, 199, 211); 
}

@media (max-width: 995px){
    
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(133, 199, 211);
        border-bottom: 3px solid rgb(133, 199, 211);
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: black;
        border-top: 0.1rem solid black;
    }
    
    nav.navegation{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.navegation{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid rgb(133, 199, 211);
    }

}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #020202;
}

.home .home-content h1, h3{
    font-size: 5rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(90, 225, 255, 0.86);
}


span{
    color:  rgb(160, 241, 255);
}

.home-content p{
    font-size: 2rem;
    margin-left: 0.5%;
    margin-top: 1.1%;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    width: 28vw;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(84, 127, 137);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px rgb(126, 191, 206),
    0 0 50px rgb(109, 166, 178),
    0 0 75px rgb(84, 127, 137),
    0 0 100px rgb(84, 127, 137)
    ;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid rgb(133, 199, 211);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: rgb(133, 199, 211);
}

.social-icons a:hover{
    color: black;
    background-color: rgb(155, 236, 250);
    transform: scale(1.3) translateY(-5px);
}

.btn{
    font-family: "Poppins", sans-serif;  /* FONTE DO GOOGLE FONTS */
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(133, 199, 211);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid rgb(133, 199, 211);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.10);
    background-color: rgb(133, 199, 211);
    color: #111;
    box-shadow: 0 0 25px rgb(133, 199, 211);

}

@media (max-width: 1000px){
    .home{
    gap: 4rem;
    }
}

@media (max-widht: 995px){
    .home{
        flex-direction: column;
    }
    .home-content{
        font-size: 5rem;
    }
    .home-img{
        width: 40vh;
        margin-top: 4rem;
    }  
}